.form {
	&-header {
		flex-basis: 100%;
	}

	&-group {
		flex: 1 1 100%;
		position: relative;
		overflow: hidden;
		padding-bottom: $grid-gutter-width / 2;
	}

	&-input {
		padding: 22px 12px 8px;
		width: 100%;
		font-size: 0.9em;

		& ~ label {
			position: absolute;
			color: black;
			font-weight: bold;
			top: 14px;
			font-size: 130%;
			left: 13px;
			line-height: 1;
			transition: font-size 0.25s ease-out, top 0.25s ease-out;
		}

		&:focus ~, &.js--filled ~ {
			label {
				font-size: 90%;
				top: 7px;
			}
		}
	}

	&-btn-group {
		padding-bottom: $grid-gutter-width / 2;
	}

	&-inline {
		display: flex;
		flex-wrap: wrap;

		.form {
			&-group {
				padding-right: $grid-gutter-width / 2;
			}
			&-btn-group {
				flex: 1 1 100%;

				.btn {
					height: 100%;
				}
			}

			@include media-breakpoint-up('sm') {
				&-group {
					flex: 1 1 25%;
				}

				&-btn-group {
					flex: 1 1 20%;
				}
			}
		}

		@include media-breakpoint-down('sm') {
			.content__gdpr {
				order: 1;
			}
			.form-btn-group {
				order: 2;
			}
			.content__gdprLegal {
				order: 3;
			}
		}
	}
}