/*!
 * NAVIGATION Styles
 */
.nav {
	position: static;



	&-list {
		position: fixed;
		top: 0;
		bottom: 0;
		background: $primary-light;
		z-index: 99;
		right: 0;
		width: 450px;
		max-width: 100%;
		transition: transform 0.3s ease-in;
		transform: translateX(100%);
		display: flex;
		height: 100%;
		flex-wrap: wrap;
		padding-top: 50px;
		flex-direction: column;

		&-item {
			padding: 0;
			text-transform: capitalize;

			&.active {
				a {
					color: $link-active;
					border-right: 9px solid transparent;
					border-left: 9px solid $warning;
				}
			}
		}

		&-link {
			color: $info;
			display: flex;
			align-items: center;
			text-decoration: none;
			padding-left: $grid-gutter-width / 2;
			padding-right: $grid-gutter-width / 2;
			transition: border 0.3s ease-out, background 0.3s ease-out;
			height: 100%;
			border-left: 0px solid transparent;
			border-right: 0px solid $warning;
			text-shadow: none;background: linear-gradient(20deg, #{$link-active} 0%, #{$link-active} 45%, #{$info} 70%, #{$info} 100%);
			background-size: 400%;
			background-position: 100%;
			background-clip: text;
			-webkit-text-fill-color: transparent;
			justify-content: center;
			font-size: 1.3em;

			&:hover {
				color: $link-active;
				border-right: 7px solid transparent;
				border-left: 7px solid $warning;
			}
		}
	}

	#nav-toggle-switch {
		display: inline-block;
		z-index: 100;
		padding: 15px;
		position: absolute;
		top: 50%;
		right: 15px;
		transform: translateY(-50%);
		transition: position 0.1s linear 0.3s;
		cursor: pointer;

		span {
			border-top: 4px solid white;
			display: block;
			width: 30px;
			padding-bottom: 10px;
			transition: transform 0.3s ease-in, width 0.3s ease-in, border 0.3s ease-in;
			&:last-child {
				width: 21px;
				padding-bottom: 0;
				margin-left: auto;
			}
		}
	}

	#open-nav-toggle:checked ~ {
		#nav-toggle-switch {
			position: fixed;
			top: 40px;
			right: 15px;
			span {
				border-top: 3px solid white;
			}
			span:nth-child(1) {
				transform: rotate(45deg) translate(0, 5px);
				transform-origin: center;
			}

			span:nth-child(2) {
				width: 30px;
				transform: rotate(-45deg) translate(5.5px, -6px);
				transform-origin: center;
			}
		}

		.nav-list {
			transform: translateX(0);
		}
	}

	/*!
	 * TABLET STYLES
	 */

	@include media-breakpoint-up('sm') {
	}

	/*!
	 * DESKTOP STYLES
	 */
	@include media-breakpoint-up('md') {

		&-list {
			position: relative;
			background: $primary;
			left: -100%;
			transform: translateX(100%) !important;
			flex-wrap: nowrap;
			flex-direction: row;
			padding-top: 0;
			&-item {
				border-top: 0px solid transparent;
				border-bottom: 0px solid $warning;
				&.active {
					a {
						border-right: 0px solid transparent;
						border-left: 0px solid $warning;
						border-top: 7px solid transparent;
						border-bottom: 7px solid $warning;
					}
				}
			}

			&-link {
				justify-content: left;
				font-size: 1em;

				&:hover {
					border-right: 0px solid transparent;
					border-left: 0px solid $warning;
					border-top: 5px solid transparent;
					border-bottom: 5px solid $warning;
				}
			}
		}

		#nav-toggle-switch {
			display: none;
		}
	}
}