.footer {
	background-color: $primary;
	color: $off-white;
	display: grid;
	grid-column-gap: $grid-gutter-width;
	grid-template-columns: repeat(12 auto);
	grid-template-rows: auto auto auto;
	position: relative;

	/**
	 * PRE FOOTER Styles
	 */
	&-pre {
		background-color: $gray-400;
		color: $body-color;
	}

	/**
	 * MAIN Footer styles
	 */
	&-logo {
		max-width: 180px;
	}
}
