{% import "../../_globals.njk" as global %}
<footer class="footer">
	<div class="gCol-12">
	<div class="footer-pre flex-row">
		{% include "../pre-footer/_newsletter-subscribe.njk" %}
	</div>
	</div>
	<div class="footer-menu gCol-12">
		Footer menu with logo area
	</div>
	<div class="gCol-6-start">Secondary row of footer</div>
	<div class="gCol-6-end">Secondary row of footer</div>
</footer>