{% import "../../_globals.njk" as global %}
<footer class="footer">
	<div class="footer-pre">
		<div class="container">
			<div class="row">
				<div class="col-12">
				This is the main top row of the footer</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-6">Secondary row of footer</div>
			<div class="col-sm-6">Secondary row of footer</div>
		</div>
	</div>
</footer>