<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% block head %}
		<title>My site</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
	{% endblock %}

	<!-- Requied Preconnect -->

	<!-- Common styles placeholder. -->
	{% include "parts/styles/_css.njk" %}

	<!-- Common scripts placeholder. -->
	{% include "parts/scripts/_scripts.njk" %}
</head>
<body>
	{% block header %}
	{% endblock %}

	<div class="main">
		{% block content %} {% endblock %}
	</div>
	{% include "parts/footer/_footer.njk" %}
</body>
</html>