{% extends "../templates/_layout.njk" %}

{% set pageId = 1 %}

{% block head %}
	<title>{{ projects.list[pageId].title }} | {{ siteTitle }}</title>
	<meta name="keywords" content="">
	<meta name="description" content="{{ projects.list[pageId].meta }}">
{% endblock %}

{% set pageId = 1 %}

{% block body %}grid grid-row-main grid-col-main {% endblock %}

{% block header %}
{{ header.renderHeader(pageId, headerEl, pages) }}
{% endblock %}

{% block mainClass %}js--fading-background fading-text-color{% endblock %}

{% block content %}
<section class="bg-section bg-info">
	<div class="px-3 px-md-4 px-lg-5">
		<h1>{{ projects.list[pageId].shortTitle }}</h1>
		<p>This page will cover the requirements for project 2 of the Udacity FEND program.</p>
	</div>
	<div class="px-3 px-md-4 px-lg-5 my-3 mt-4 mt-md-5 js--interactive-heading-nav hidden">

	</div>
</section>
<section class="projects px-3 px-md-4 px-lg-5 js--interactive"
	data-menu="true"
	data-background="">
	<h2 class="js--interactive-heading-nav-item">The First Section</h2>
	<p>Lorem ipsum dolor sit amet, ea quot reque eam. Pro agam dicam mucius ex, id dico nostro aperiam eum. Utinam corpora petentium cu nec. Eius error sapientem in eam. Tempor oportere cum cu.</p>
	<blockquote>Lorem ipsum dolor sit amet, ea quot reque eam. Pro agam dicam mucius ex</blockquote>
	<p>Lorem ipsum dolor sit amet, ea quot reque eam. Pro agam dicam mucius ex, id dico nostro aperiam eum. Utinam corpora petentium cu nec. Eius error sapientem in eam. Tempor oportere cum cu.</p>
</section>
{% endblock %}

{% block aside %}
<!-- <aside class="aside">
	<h3>Favorites</h3>
	<div class="aside-favorites flex-row">
		{{ card.renderCard(projects, true, false, true)}}
	</div>
</aside> -->
{% endblock %}
