{% import "_globals.html" as global %}
<footer class="footer">
	<div class="footer-pre">
		<div class="container">
			<div class="row">
				<div class="col-12"></div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-6"></div>
			<div class="col-sm-6"></div>
		</div>
	</div>
</footer>