.backtotop {
	background-color: rgba(0,0,0,0.4);
	padding: 10px;
	position: fixed;
	bottom: 0;
	cursor: pointer;
	right: 30px;
	transform: translateY(100%);
	transition: transform 0.2s ease;
	z-index: 9;
	border: none;
	color: #fff;
}

.js--backtotop-triggered .backtotop {
	transform: translateY(0);
}

.js--backtotop-footer .backtotop {
	position: absolute;
	bottom: 100%;
	transform: translateY(0);
}
