{% macro renderHeader(activePage='home', mainNav=[]) %}
<header class="header">
	<div class="logo">
	<a href="/">
		<img src="/img/logo.png" alt="logo" />
	</a>
	</div>
	<nav class="nav">
		<ul class="nav-list">
		{% for item in mainNav %}
			<li class="nav-list-item {%if activePage == item.name %}current{% endif %}">
			<a href="{{ item.url }} " class="nav-list-link">{{ item.name }}</a>
			</li>
		{% endfor %}
		</ul>
	</nav>
</header>
{% endmacro %}