{% macro render(news= {}) %}
{% for item in news.list %}
{% if item.favorite %}
<div class="swiper-slide card">
	<div class="card-img-wrap">
		<img src="{{ item.summaryImage.srcSM }}" data-src="{{ item.summaryImage.src }}" class="lazyload" alt="{{ item.summaryImage.alt }}">
	</div>
	<div class="card-content p-3">
		<h3 class="card-title mb-2"><a href="{{news.linkBase }}{{ item.url }}">{{ item.title }}</a></h3>
		{{ item.summary|safe }}
		<a href="{{news.linkBase }}{{ item.url }}"" class="btn btn-secondary"><span>Get more >></span></a>
	</div>
</div>
{% endif %}
{% endfor %}
{% endmacro %}